body {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;    
}

ul {
    padding: 0;
    list-style-type: none;
}

h1, h2, h3, p{
    text-align: center;
}  

#grid-floats .grid-item{
    width: calc(100% / 4 - 20px);
    margin: 10px;
    float: left;
    overflow: auto;
    height:550px;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 6px;
    /* background-color: bisque; */
}
#grid-floats .grid-item:nth-of-type(1){
    width: calc(100% / 2 - 20px);
}
#grid-floats::after{
    content: "";
    clear: both;
    display:block;
} 
.grid-item:nth-of-type(-n+7):nth-of-type(even), .grid-item:nth-of-type(n+8):nth-of-type(odd){
    background-color: bisque;
}



#grid-floats .grid-item img{
    max-width:80%;
    height: auto ;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width:481px) and (max-width:768px){
    body{
        width:96%;
        margin: 0 auto;
    }
    
    #grid-floats .grid-item{
        width: calc(100% / 3 - 12px);
        margin: 6px;
        padding: 6px;
        height: 580px;
        /* min-width: 125px; */
    }    
    #grid-floats .grid-item:nth-of-type(-n+2){
        width: calc(100% / 2 - 12px);
    }
}

@media only screen and (max-width:480px){
    body{
        width:96%;
        margin: 0 auto;
    }
    #grid-floats .grid-item{
        width: calc(100% / 2 - 8px);
        margin:4px;
        padding:4px;
    }    
    #grid-floats .grid-item:nth-of-type(1){
        width:100%;
        /* margin: 0 auto; */
    }
}
